{% extends "base.html" %}

{% block title %}DfB Explorer - Groups{% endblock %}

{% block head %}
{{  super() }}
	<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="../static/css/content.css">
{% endblock %}

{% block content %}
	<div class="container-fluid">	
  		<div class="row">
    		<div class="col-sm-2 sidebar">
      			<ul class="nav nav-sidebar">
		            <li class="active"><a href="{{ url_for('main.index') }}">Team Overview <span class="sr-only">(current)</span></a></li>
		            <li><a href="{{ url_for('main.team_storage') }}">Team Storage</a></li>
		            <li><a href="{{ url_for('main.group_membership') }}">Group Membership</a></li>
		            <li><a href="{{ url_for('main.team_management') }}">Team Management</a></li>
		            <li><a href="{{ url_for('main.devices') }}">Devices</a></li>
		            <li><a href="{{ url_for('main.team_audit') }}">Team Audit</a></li>
	         	</ul>
	     	</div>
	     	<div class="col-md-8">
				<h1>Group Memberships</h1>
				<div class="panel panel-default">
                    <div class="panel-body">
                      <img src="../static/img/groups.png" width="400" height="auto" class="small"/>
                    </div>
                  </div>
				<ul class="list-group">
				{% for group in groups %}
            		<li class="list-group-item">
                    <span class="badge">{{ group["num_members"] }}</span>
                    <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                    <strong>{{ group["group_name"] }}</strong> (Group Id: {{ group["group_id"] }})
        			</li>
        		{% endfor %}
        		</ul>
			</div>
		</div>
	</div>
{% endblock %}



 
    

  
