{% extends "base.html" %}

{% block title %}DfB Explorer{% endblock %}

{% block content %}
<div class="container">
	<div class="page-header">
		<h1>Hello, {{ user.username }}</h1>
		<p>Email: {{ user.email }}</p>
		<p>DfB Token: {{ user.dfbpassword }}</p>
		<br>
		<p><h4>Dropbox API data</h4></p>
		<p>Dropbox Team Name: {{ dbTeamName }}</p>
		<p>Dropbox Team Id: {{ teamId }}</p>
		<p>Total Business Licences: {{ totalLicences }}</p>
		<p>Licences in Use: {{ licencesInUse }}</p>
		<p>Remaining Licences: {{ remainingLicences }}</p>
		<p>We are in the main section of the app.</p>
		<br>
		<p><h4>Test using the Google Chart Library</h4></p>
		<p>Using Dropbox API data</p>

	    <!--Load the AJAX API-->
	    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
	    <script type="text/javascript">

	    // Load the Visualization API and the piechart package.
	    google.load('visualization', '1.0', {'packages':['corechart']});

	    // Set a callback to run when the Google Visualization API is loaded.
	    google.setOnLoadCallback(drawChart);

	    // Callback that creates and populates a data table,
	    // instantiates the pie chart, passes in the data and
	    // draws it.
	    function drawChart() {

	        // Create the data table.
	        var data = new google.visualization.DataTable();
	        data.addColumn('string', 'Topping');
	        data.addColumn('number', 'Slices');
	        data.addRows([
	          ['Licences in use', {{ licencesInUse }} ],
	          ['Licences Available', {{ remainingLicences }} ]
	        ]);

	        // Set chart options
	        var options = {'title':'Dropbox for Business Licences',
	                       'width':400,
	                       'height':300};

	        // Instantiate and draw our chart, passing in some options.
	        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
	        chart.draw(data, options);
	    }
	    </script>

	    <!--Div that will hold the pie chart-->
    	<div id="chart_div"></div>


	</div>
</div>
{% endblock %}