{% extends "base.html" %}

{% block title %}DfB Explorer - Overview{% endblock %}

{% block content %}

<!--Load the AJAX API-->
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">

// Load the Visualization API and the piechart package.
google.load('visualization', '1.0', {'packages':['corechart']});

// Set a callback to run when the Google Visualization API is loaded.
google.setOnLoadCallback(drawChart);

// Callback that creates and populates a data table,
// instantiates the pie chart, passes in the data and
// draws it.
function drawChart() {

    // Create the data table.
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'Licence');
    data.addColumn('number', 'Sample');
    data.addRows([
      ['Licences in use', {{ licencesInUse }} ],
      ['Licences Available', {{ remainingLicences }} ]
    ]);

    // Set chart options
    var options = {'title':'Dropbox for Business Licences',
                   'width':400,
                   'height':300};

    // Instantiate and draw our chart, passing in some options.
    var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
    chart.draw(data, options);
}

</script>

<div class="container-fluid">	
  		<div class="row">
    		<div class="col-sm-2 sidebar">
      			<ul class="nav nav-sidebar">
		            <li class="active"><a href="{{ url_for('main.index') }}">Team Overview <span class="sr-only">(current)</span></a></li>
		            <li><a href="{{ url_for('main.sharing_activity') }}">Sharing Activity</a></li>
		            <li><a href="{{ url_for('main.team_storage') }}">Team Storage</a></li>
		            <li><a href="{{ url_for('main.group_membership') }}">Group Membership</a></li>
		            <li><a href="{{ url_for('main.team_management') }}">Team Management</a></li>
		            <li><a href="{{ url_for('main.devices') }}">Devices</a></li>
		            <li><a href="{{ url_for('main.team_audit') }}">Team Audit</a></li>
	         	</ul>
	     	</div>
	     	<div class="col-md-8">
	     		<h1 class="page-header">Team Overview</h1>
	     		<div class="row placeholders">

            		<div class="col-xs-6 col-sm-6 placeholder">
              			<h4>Dropbox Licence Usage</h4>
              			<span class="text-muted">Team: {{ dbTeamName }}</span>
              			<div style="border: 2px solid black; margin-bottom: 10px;">
                      <div id="chart_div"></div>
                    </div>
            		</div>
          </div>


					<h2 class="sub-header" style="margin-top: 40px;">Team Members</h2>
					<div class="table-responsive">
					    <table class="table table-striped">
			              <thead>
			                <tr>
			                  <th>Name</th>
			                  <th>User Email</th>
			                  <th>Status</th>
                        <th>Member Id</th>
			                </tr>
			              </thead>
			              <tbody>					                
			                	{% for member in teamMembers %}
                        {% if  member["profile"]["status"] == "invited" %}
                            <tr>
                              <td>{{ member["profile"]["given_name"] }} {{ member["profile"]["surname"] }}</td>
                              <td>{{ member["profile"]["email"] }}</td>
                              <td style="color:#3366CC;">{{ member["profile"]["status"] }}</td>
                              <td>{{ member["profile"]["member_id"] }}</td>
                            </tr>
                        {% else %}
    			                	<tr>
    			                		<td>{{ member["profile"]["given_name"] }} {{ member["profile"]["surname"] }}</td>
            									<td>{{ member["profile"]["email"] }}</td>
            									<td style="color:#109618;">{{ member["profile"]["status"] }}</td>
                              <td>{{ member["profile"]["member_id"] }}</td>
            								</tr>
                        {% endif %}
        								{% endfor %}
			              </tbody>
					    </table>
	     		</div>

	     	</div>
	    </div>	
	</div>
{% endblock %}