{% extends "base.html" %}

{% block title %}DfB Explorer - Team Management{% endblock %}

{% block content %}
	<div class="container-fluid">	
  		<div class="row">
    		<div class="col-sm-2 sidebar">
      			<ul class="nav nav-sidebar">
		            <li class="active"><a href="{{ url_for('main.index') }}">Team Overview <span class="sr-only">(current)</span></a></li>
		            <li><a href="{{ url_for('main.sharing_activity') }}">Sharing Activity</a></li>
		            <li><a href="{{ url_for('main.team_storage') }}">Team Storage</a></li>
		            <li><a href="{{ url_for('main.group_membership') }}">Group Membership</a></li>
		            <li><a href="{{ url_for('main.team_management') }}">Team Management</a></li>
		            <li><a href="{{ url_for('main.devices') }}">Devices</a></li>
		            <li><a href="{{ url_for('main.team_audit') }}">Team Audit</a></li>
	         	</ul>
	     	</div>
	     	<div class="col-md-8">
				<h1>Team Management</h1>
				<h3>Coming Soon</h3>
			</div>
		</div>
	</div>

{% endblock %}