{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}DfB Explorer - Team Management{% endblock %}

{% block content %}
	<div class="container-fluid">	
  		<div class="row">
    		<div class="col-sm-2 sidebar">
      			<ul class="nav nav-sidebar">
		            <li class="active"><a href="{{ url_for('main.index') }}">Team Overview <span class="sr-only">(current)</span></a></li>
		            <li><a href="{{ url_for('main.sharing_activity') }}">Sharing Activity</a></li>
		            <li><a href="{{ url_for('main.team_storage') }}">Team Storage</a></li>
		            <li><a href="{{ url_for('main.group_membership') }}">Group Membership</a></li>
		            <li><a href="{{ url_for('main.team_management') }}">Team Management</a></li>
		            <li><a href="{{ url_for('main.devices') }}">Devices</a></li>
		            <li><a href="{{ url_for('main.team_audit') }}">Team Audit</a></li>
	         	</ul>
	     	</div>
	     	<div class="col-md-10">
				<h1>Team Management</h1>
				<div class="col-md-4">
					<h3>Add Team Member:</h3>
				    {{ wtf.quick_form(form) }}
				</div>
				<div class="col-md-1">
					
				</div>
				<div class="col-md-6">
					<h3>Remove team member:</h3>
				    {% for member in teamMembers %}
                        <p><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        <a href='{{ url_for("main.delete_user", member_id=member["profile"]["member_id"]) }}'> 
                        {{ member["profile"]["given_name"] }} 
                        {{ member["profile"]["surname"] }} (
                        {{ member["profile"]["email"] }} )</a></p>
        			{% endfor %}
				</div>
			</div>
		</div>
	</div>

{% endblock %}