{% extends "base.html" %}

{% block head %}
{{ super() }}
    <script type="text/javascript"
          src="https://www.google.com/jsapi?autoload={
            'modules':[{
              'name':'visualization',
              'version':'1',
              'packages':['corechart']
            }]
          }"></script>

    <script type="text/javascript">
      google.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Time', 'MB'],
          {% for entry in total_usage if entry|int != 0 %}
	          ['',  {{ entry|int / 1024 /1024 + 50}}],
          {% endfor %}
        ]);

        var options = {
          title: 'Dropbox Total Storage (Team)',
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>
    <script type="text/javascript">
      google.setOnLoadCallback(drawChart2);

      function drawChart2() {
        var data = google.visualization.arrayToDataTable([
          ['Time', 'MB'],
          {% for entry in shared_usage if entry|int > 0 %}
	          ['',  {{ entry|int / 1024 /1024 + 50 }}],
          {% endfor %}
        ]);

        var options = {
          title: 'Dropbox Shared Storage (Team)',
          curveType: 'function',
          colors: ['red'],
          legend: { position: 'bottom' }
        };

        var chart2 = new google.visualization.LineChart(document.getElementById('curve_chart2'));

        chart2.draw(data, options);
      }
    </script>
{% endblock %}

{% block title %}DfB Explorer - Storage{% endblock %}

{% block content %}
	<div class="container-fluid">	
  		<div class="row">
    		<div class="col-sm-2 sidebar">
      			<ul class="nav nav-sidebar">
		            <li class="active"><a href="{{ url_for('main.index') }}">Team Overview <span class="sr-only">(current)</span></a></li>
		            <li><a href="{{ url_for('main.sharing_activity') }}">Sharing Activity</a></li>
		            <li><a href="{{ url_for('main.team_storage') }}">Team Storage</a></li>
		            <li><a href="{{ url_for('main.group_membership') }}">Group Membership</a></li>
		            <li><a href="{{ url_for('main.team_management') }}">Team Management</a></li>
		            <li><a href="{{ url_for('main.devices') }}">Devices</a></li>
		            <li><a href="{{ url_for('main.team_audit') }}">Team Audit</a></li>
	         	</ul>
	     	</div>
	     	<div class="col-md-8">
				<h1>Team Storage</h1>
				<div id="curve_chart" style="width: 900px; height: 500px"></div>
				<div id="curve_chart2" style="width: 900px; height: 500px"></div>
			</div>
		</div>
	</div>

{% endblock %}