{% extends "base.html" %}

{% block title %}DfB Explorer - Auditing{% endblock %}

{% block content %}
	<div class="container-fluid">	
  		<div class="row">
    		<div class="col-sm-2 sidebar">
      			<ul class="nav nav-sidebar">
		            <li class="active"><a href="{{ url_for('main.index') }}">Team Overview <span class="sr-only">(current)</span></a></li>
		            <li><a href="{{ url_for('main.sharing_activity') }}">Sharing Activity</a></li>
		            <li><a href="{{ url_for('main.team_storage') }}">Team Storage</a></li>
		            <li><a href="{{ url_for('main.group_membership') }}">Group Membership</a></li>
		            <li><a href="{{ url_for('main.team_management') }}">Team Management</a></li>
		            <li><a href="{{ url_for('main.devices') }}">Devices</a></li>
		            <li><a href="{{ url_for('main.team_audit') }}">Team Audit</a></li>
	         	</ul>
	     	</div>
	     	<div class="col-md-8">
				<h1>Team Audit</h1>
				<div class="table-responsive">
				    <table class="table table-striped">
		              	<thead>
		                <tr>
			                <th>Name</th>
			                <th>Time</th>
                    		<th>Event</th>
                    		<th>IP Address</th>
		                </tr>
		              	</thead>
		              	<tbody>					                
		              	{% for event in events %}
			            <tr>
			                <td>{{ event["name"] }}</td>
			                <td>{{ event["time"] }}</td>
			                <td>{{ event["event_type_description"] }}</td>
			                <td>{{ event["ip_address"] }}</td>
        				</tr>
    					{% endfor %}
		            	</tbody>
					</table>
	     		</div>
				{% for event in allEvents %}
        		{% endfor %}
			</div>
		</div>
	</div>

{% endblock %}