/*
 * Globals
 */

img {
  padding-top: 10px;
  padding-bottom: 100px;
}

.small {
  padding-top: 10px;
  padding-bottom: 0px; 
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #294B5D;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

h1 {
  font-family: 'Economica', sans-serif;
  font-size: 150px;
}

p {
  font-family: 'Source Code Pro', ;
  font-size: 8px;  
}

.new {
  border: thin;
}

