html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li, img,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, canvas, details, figcaption, figure, footer, header,
hgroup, menu, nav, section, summary {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
    text-decoration: none;
    text-decoration: none;
}

#titles {
    display: none;
}

input, textarea {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

img {
    border: 0;
}

#loading {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    margin-top: -42px;
    margin-left: -36px;
    z-index: 1505;
    font-family: arial, helvetica, tahoma, sans-serif;
}

#black {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1500;
    background-color: white;
    overflow: hidden;
}

body {
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    background-color: #000000;
    font-family: 'Roboto', sans-serif;

}

input, textarea, button {
    font-size: 17px;
    font-family: 'Arial', sans-serif;
    outline: 0;
}

@keyframes test {
    0% {
        transform: matrix(1, 0, 0, 1, 0, 0);
    }
    100% {
        transform: matrix(1, 0, 0, 1, 250, 250);
    }
}

.background {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: auto;
    right: auto;
    width: 100%;
    height: 100%;
    z-index: -5;
    max-width: none !important;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    transform-origin: 0px 0px;
    -webkit-animation: bgMove 75s infinite; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: bgMove 75s infinite; /* Firefox < 16 */
    -ms-animation: bgMove 75s infinite; /* Internet Explorer */
    -o-animation: bgMove 75s infinite; /* Opera < 12.1 */
    animation: bgMove 75s infinite;
}

@keyframes bgMove {
    0% {
        transform: matrix(1, 0, 0, 1, 0, 0) scale(1.0);
    }
    50% {
        transform: matrix(1, 0, 0, 1, 0, 0) scale(1.3);
    }
    100% {
        transform: matrix(1, 0, 0, 1, 0, 0) scale(1.0);
    }
}

/* Firefox < 16 */
@-moz-keyframes bgMove {
    0% {
        transform: matrix(1, 0, 0, 1, 0, 0) scale(1.0);
    }
    50% {
        transform: matrix(1, 0, 0, 1, 0, 0) scale(1.3);
    }
    100% {
        transform: matrix(1, 0, 0, 1, 0, 0) scale(1.0);
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes bgMove {
    0% {
        transform: matrix(1, 0, 0, 1, 0, 0) scale(1.0);
    }
    50% {
        transform: matrix(1, 0, 0, 1, 0, 0) scale(1.3);
    }
    100% {
        transform: matrix(1, 0, 0, 1, 0, 0) scale(1.0);
    }
}

/* Internet Explorer */
@-ms-keyframes bgMove {
    0% {
        transform: matrix(1, 0, 0, 1, 0, 0) scale(1.0);
    }
    50% {
        transform: matrix(1, 0, 0, 1, 0, 0) scale(1.3);
    }
    100% {
        transform: matrix(1, 0, 0, 1, 0, 0) scale(1.0);
    }
}

/* Opera < 12.1 */
@-o-keyframes bgMove {
    0% {
        transform: matrix(1, 0, 0, 1, 0, 0) scale(1.0);
    }
    50% {
        transform: matrix(1, 0, 0, 1, 0, 0) scale(1.3);
    }
    100% {
        transform: matrix(1, 0, 0, 1, 0, 0) scale(1.0);
    }
}



#wrapper {
    position: absolute;
    
    height: 90%;
}

#header {
    position: absolute;
    width: 100%;
    height: 47%;
    vertical-align: middle;
    display: block;
}

.headerSize {
    min-height: 260px;
}

.headerSizeInAboutUs {
    min-height: 0px;
}

#logoContainer {
    display: table;
    width: 100%;
    height: 110%;
    text-align: center;
    margin: 0 auto;
}

#logoContainer div {
    display: table-cell;
    vertical-align: middle;
}

#logo img {
    max-width: 100% !important;
    height: auto;
    width: 130px;
}


#headerText {
    margin-bottom: -15px;
    font-size: 90px;
    font-weight: 100;
}

.content-wrapper {
    text-align: center;
    position: relative;
    width: 100%;
    min-height: 100%;
    height: 100%;
    display: table;
    overflow: hidden;
    margin-bottom: -210px;
}
.swiper-container {
    -moz-perspective: 300px;
    -ms-perspective: 300px;
    -o-perspective: 300px;
    -webkit-perspective: 300px;
    perspective: 300px;    
}

.content {
    text-align: center;
    min-height: 100%;
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    position: relative;

    -moz-perspective: 300px;
    -ms-perspective: 300px;
    -o-perspective: 300px;
    -webkit-perspective: 300px;
    perspective: 300px;
}

.swiper-slide {
    -moz-perspective: 300px;
    -ms-perspective: 300px;
    -o-perspective: 300px;
    -webkit-perspective: 300px;
    perspective: 300px;
}

#mainContent {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: auto;
    transform: rotate3d(0, 1, 0, 0deg);
    -webkit-transform: rotate3d(0, 1, 0, 0deg);
    -moz-transform: rotate3d(0, 1, 0, 0deg);
    -o-transform: rotate3d(0, 1, 0, 0deg);
    -ms-transform: rotate3d(0, 1, 0, 0deg);

    border: 0;

}

#mainContact {
    display: block;
    z-index: 150;
}

#aboutUsContent {
    margin: 0 auto;
    width: 100%;
    position: relative;
    height: 100%;
    overflow: auto;
    -webkit-transform: rotate3d(0, 1, 0, -33deg);
    border: 0;
    -webkit-box-shadow: inset 0 0 0 #FFFFFF;
    -o-box-shadow: inset 0 0 0 #FFFFFF;
    box-shadow: inset 0 0 0 #FFFFFF;
    -webkit-transition: -webkit-box-shadow 1s;
    -moz-transition: -moz-box-shadow 1s;
    transition: box-shadow 1s;
    background: rgba(0,0,0,0.2);
}

#contentAbout {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 30px 50px 30px 50px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 75px;
    margin-bottom: 30px;
}

h2 {
    font-size: 34px;
    font-family: Roboto;
    font-weight: 100;
    text-align: center;
    padding-bottom: 25px;
}

h3 {
    font-size: 15px;
    font-family: roboto;
    font-weight: 400;
    text-align: center;
    padding-bottom: 10px;
}

h4 {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-weight: 100;
    font-size: 47px;
}

p {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    font-weight: 100;
    font-size: 71px;
}

.benefit {
    font-family: Oswald;
    color: #31f7c6;
    font-weight: 400;
    letter-spacing: 1px;
}

.benefitTitles {
    /*font-family: Oswald;
    color: #31f7c6;
    font-weight: 400;*/
}

.benefitTitles_Tuned {
    font-family: Oswald;
    color: #E8E8E8;
    font-weight: 400;


}

a {
    color: #b1acb3;
    font-family: Roboto;
    font-weight: 100;
}

a:hover {
   color: rgb(76, 202, 152);
}

#address_phone_email {
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    line-height: 120%;
}

#address_phone_email div {
    display: inline-block;
    text-align: center;
    width: 230px;
    font-size: 14px;
    padding-bottom: 20px;
}

#aboutUs {
    width: 95%;
    text-align: justify;
    margin: 0 auto;
    font-family: Oswald;
    font-size: 14px;
    line-height: 170%;
    padding-top: 10px;
    padding-bottom: 15px;
}

a {
    color: #FFFFFF;
}

.footerSize {
    min-height: 150px;
}

#footer {
    position: absolute;
    width: 100%;
    height: 150px;
    vertical-align: baseline;
    display: table;
}

#footerBottom {
    display: table-cell;
    vertical-align: bottom;
}

#countdown {
    position: relative;
    text-align: left;
    vertical-align: middle;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 20px;
    margin-right: 0px;
    margin-bottom: -180px;
    margin-top: 50px;
    -moz-perspective: 400px;
    -ms-perspective: 400px;
    -o-perspective: 400px;
    -webkit-perspective: 400px;
    perspective: 300px;
    -webkit-backface-visibility: visible;
    backface-visibility: visible
}

#homeInContact {
    position: absolute;
    right: 50px;
    top: 50%;
    z-index: 2000;

    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

#homeInAboutUs {
    position: absolute;
    left: 50px;
    top: 50%;
    z-index: 2000;

    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

#contact {
    position: absolute;
    left: 85px;
    top: 47%;
    z-index: 2000;

    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

#about {
    position: absolute;
    right: 85px;
    top: 47%;
    z-index: 2000;

    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.square {
    display: inline-block;
    width: 140px;
    height: 140px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0.15) rgba(255, 255, 255, 0);
    -webkit-transform: rotate(360deg);
    position: relative;
    margin-right: 0px;
    margin-left: 0px;

    opacity: 1;
    -webkit-transform-style: preserve-3d;
    -webkit-animation: rotateTriangleAnim 1s forwards;
    -moz-animation: rotateTriangleAnim 1s forwards;
    -o-animation: rotateTriangleAnim 1s forwards;
    animation: rotateTriangleAnim 1s forwards;
}

.countContainer {
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    margin-top: 0px;
    background-color: rgba(0, 0, 0, 0.4);
}

.countContainer p {
    text-align: center;
}

.countContainer div.unitContainer {
    position: absolute;
    height: 38px;
    display: table;
    width: 100%;
}

.countContainer p.unit {
    display: table-cell;
    vertical-align: bottom;
    bottom: 0;
    color: #FFFFFF;
    font-size: 1.2em;
    font-weight: 100;
    letter-spacing: 1px;
}

.countContainer div.unitContainerDown {
    position: absolute;
    height: 125px;
    display: table;
    width: 100%;
}

.countContainer p.unitDown {
    display: table-cell;
    vertical-align: bottom;
    bottom: 0;
    color: #FFFFFF;
    font-size: 1.2em;
    font-weight: 100;
    letter-spacing: 1px;
}

.countContainer div.numberContainer {
    position: absolute;
    display: table;
    height: 130px;
    width: 100%;
}

.countContainer p.number {
    display: table-cell;
    position: relative;
    font-size: 65px;
    vertical-align: bottom;
    line-height: 120px;
    font-family: 'Roboto';
    font-weight: 300;


    color: #d6d8df;
}

#subscribeBox {
    position: relative;
    height: 70px;
    overflow: hidden;
    margin: 0 auto;
    margin-right: 0px;
    margin-top: 53px;
}

#subscribeSlide {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

#subscribe {
    position: relative;
    margin: 0px auto 15px;
    background-color: rgba(0, 0, 0, 0);
}

#subscribe form {
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
}

#subscribe form input {
    font-size: 16px;
    font-weight: 100;
    padding-left: 0px;
    padding-bottom: 0;
    padding-right: 10px;
    outline: 0;
    height: 40px;
    background-color: transparent;
}

#animContainer {
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: 190px;
    height: 15px;

    -moz-perspective: 300px;
    -ms-perspective: 300px;
    -o-perspective: 300px;
    -webkit-perspective: 300px;
    perspective: 300px;

    display: inline-block;
}

#sendContainer {
    display: inline-block;
    vertical-align: top;
    margin-left: 70px;
}

#send {
    border: 0;
    background: transparent url("images/icons/subscribe.png") 0 0 no-repeat;
    background-size: 100px 35px;
    width: 102px;
    height: 40px;
    outline: 0;
    margin-left: -60px;
    margin-right: 10px;
    margin-top: 3px;
}

#send:hover {
    -webkit-transform: scale(1.05,1.05);
         -moz-transform: scale(1.05,1.05);
         -o-transform: scale(1.05,1.05);
         -ms-transform: scale(1.05,1.05);

    -webkit-transition: all 0.4s ease-in-out;
          -moz-transition: all 0.4s ease-in-out;
          -o-transition: all 0.4s ease-in-out;
           -ms-transition: all 0.4s ease-in-out;

    -webkit-transition: all 0.4s ease-out-in;
          -moz-transition: all 0.4s ease-out-in;
          -o-transition: all 0.4s ease-out-in;
          -ms-transition: all 0.4s ease-out-in;


}

#contactButton {
    background-image: url("images/icons/contact.png");
    -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
}

#contactButton:hover {
    -webkit-transform: translateX(-7px);
        -moz-transform: translateX(-7px);
        -o-transform: translateX(-7px);
        -ms-transform: translateX(-7px);
}

#aboutUsButton {
    background-image: url("images/icons/info.png");
    -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
}

#aboutUsButton:hover {
    -webkit-transform: translateX(7px);
        -moz-transform: translateX(7px);
        -o-transform: translateX(7px);
        -ms-transform: translateX(7px);
}


#homeInAboutUsButton {
    background-image: url("images/icons/home_info.png");
    -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
}

#homeInAboutUsButton:hover {
    -webkit-transform: translateX(-7px);
        -moz-transform: translateX(-7px);
        -o-transform: translateX(-7px);
        -ms-transform: translateX(-7px);
}

#homeInContactButton {
    background-image: url("images/icons/home_contact.png");
    -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
}

#homeInContactButton:hover {
    -webkit-transform: translateX(7px);
        -moz-transform: translateX(7px);
        -o-transform: translateX(7px);
        -ms-transform: translateX(7px);
}

.navButton {
    border: 0;
    background: transparent;
    outline: 0;
    background-size: 40px, 40px;
    width: 40px;
    height: 53px;
}

#subscribe form input:hover, #subscribe form input:focus {
    color: #FFFFFF;
    border-bottom: #31f7c6 solid 2px;
    background-color: transparent;
}

.animElement {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: 40px;
    color: #FFFFFF;
    padding: 0;
    margin: 0;

    background-color: transparent;
    border: 0;
    border-bottom: 1px solid;

    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transform-origin: 50% 50% -20px;
    -ms-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px
}

#thanks {
    line-height: 42px;
    height: 42px;
    font-size: 25px;
    font-weight: bold;
}

#contactHeader {
    display: table;
    vertical-align: top;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
    margin-bottom : 20px;
}

#aboutHeader {
    display: table;
    vertical-align: top;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;
}

.error {
    display: none;
    color: #b1acb3;
    font-size: 13px;
    position: absolute;
    top: -18px;
    right: -9px;
    padding: 0px
    width: 100%;
    opacity: 1;
    background-color: #1e1b22;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.goAwayDown {
    top: 80px;
    opacity: 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.slideIn {
    transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -webkit-transform: rotateX(90deg);

    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
}

.slideOut {
    transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    -webkit-transform: rotateX(-90deg);

    opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
}

.invisibleStyle {
    opacity: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
}

.visibleStyle {
    opacity: 1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
}

#iconsWrapper {
    position: relative;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 0px;
    padding-top: 5px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    display: block;
    vertical-align: bottom;
    /*background-color: rgba(0, 0, 0, 0.5);*/
}

#icons {
    margin-right: 0;
    list-style: none;
    line-height: 0;
    width: 100%;
    overflow: visible;
}

.icon {
    list-style: none;
    display: inline-block;
    height: 30px;
    width: 41px;
    vertical-align: middle;
    margin: 0;
    padding: 10px;
}

.icon a {
    display: block;
    background-size: 28px, 28px;
    width: 28px;
    height: 28px;
    -webkit-transition: all 0.5s ease-in-out;
         -moz-transition: all 0.5s ease-in-out;
         -o-transition: all 0.5s ease-in-out;
         -ms-transition: all 0.5s ease-in-out;
}

.icon a:hover {
     -webkit-transform: scale(1.2,1.2);
     -moz-transform: scale(1.2,1.2);
     -o-transform: scale(1.2,1.2);
     -ms-transform: scale(1.2,1.2);
}

#contactArea {
    background-color: rgba(0, 0, 0, 0.4);
    display: table;
    padding: 30px 60px 30px 60px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    width: 720px;
}

 #contactArea input, #contactArea textarea {
    background-color: rgba(255, 255, 255, 0);
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 14px;
}

#contactArea input {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4)
}

#contactArea textarea {

    background: url("images/icons/message_lines.png") 0 0 no-repeat;
    background-size: 700px 100px;
    width: 700px;
    height: 122px;
    outline: 0;
    line-height: 200%;
    padding-top: 8px;
}

#contactContent form div {
    text-align: left;
}

#contactContent form div.sendContactContainer {
    text-align: center;
}

#contactMessage {
    height: 160px;
    overflow: hidden;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    background-color: transparent;
    width: 100%;
}

#contactInfo {
    display: table;
    width: 100%;
}

#contactInfo div {
    display: table-cell;
    padding: 10px;
    margin: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#contactInfo span, #contactMsg span {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}

#contactMsg {
    padding: 0px 10px 10px 10px;
}

.contactField {
    width: 100%;
    color: #FFFFFF;
    border: 0;
}

.sendContactContainer {
    position: relative;
    width: 100%;
    text-align: right;
}

#sendContact {
    border: 0;
    background: transparent url("images/icons/send.png") 0 0 no-repeat;
    background-size: 80px 37px;
    width: 80px;
    height: 37px;
    outline: 0;
    margin-left: 7px;
    margin-top: -7px;
    -webkit-transition: all 0.5s ease-in-out;
         -moz-transition: all 0.5s ease-in-out;
         -o-transition: all 0.5s ease-in-out;
         -ms-transition: all 0.5s ease-in-out;
}

#sendContact:hover {
    -webkit-transform: scale(1.1);
         -moz-transform: scale(1.1);
         -o-transform: scale(1.1);
         -ms-transform: scale(1.1);
}

.errorContact {
    display: none;
    color: #FFFFFF;
    font-size: 12px;
    width: 100%;
    opacity: 1;
    background-color: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#backgroundImage {
    display: none;
}

#slides {
    display: none;
}

.placeholder {
    color: rgba(255, 255, 255, 255);
    font-family: 'Roboto', sans-serif;
}

*::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
    opacity: 1;
    font-family: 'Roboto', sans-serif;
}

*:-moz-placeholder {
    color: rgba(255, 255, 255, 0.6);
    opacity: 1;
    font-family: 'Roboto', sans-serif;
}

*::-moz-placeholder {
    color: rgba(255, 255, 255, 0.6);
    opacity: 1;
    font-family: 'Roboto', sans-serif;
}

:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.6);
    opacity: 1;
    font-family: 'Roboto', sans-serif;
}

#contactContent {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: auto;
    -webkit-transform: rotate3d(0, 1, 0, 33deg);
    border: 0;
    -webkit-box-shadow: inset 0 0 0 #FFFFFF;
    -o-box-shadow: inset 0 0 0 #FFFFFF;
    box-shadow: inset 0 0 0 #FFFFFF;
    -webkit-transition: -webkit-box-shadow 1s;
    -moz-transition: -moz-box-shadow 1s;
    transition: box-shadow 1s;
    background: rgba(0,0,0,0.2);
}

@media only screen and (max-width: 1540px) {

    #header {
        height: 35%;
    }

    #logo img {
        width: 100px;
    }

    .square {
        width: 130px;
        height: 130px;
        margin-bottom:10px;
    }

    #logoContainer {
        width: 155px;
        margin-top: 35px;
    }

    #headerText {
        margin-bottom: -40px;
        font-size: 60px;
    }

    #countdown {
            padding-left: 0px;
            padding-right: 0px;
            margin-left: 20px;
            margin-top: 60px;
    }

    .countContainer div.unitContainer {
        height: 36px;
    }

    .countContainer div.unitContainerDown {
        height: 115px;
    }

    .countContainer p.unit {
        font-size: 1em;
    }

    .countContainer div.numberContainer {
        height: 0px;
        width: 100%;
        margin-top: -10px;
    }

    .countContainer p.number {
        font-size: 50px;
        line-height: 150px;
    }

    h2 {
        font-size: 26px;
    }

    h4 {
        font-size: 37px;
    }

    p {
         font-size: 58px;
    }

    #address_phone_email {
        margin-top: 6px;
        line-height: 110%;
    }

    #contactArea textarea {
        background-size: 600px 98px;
        width: 600px;
        height: 98px;
        outline: 0;
        line-height: 240%;
        padding-top: 5px;
    }

    #contact {
        top: 47%;
        left: 45px;
    }

    #about {
        top: 47%;
        right: 45px
    }

    #contactArea {
        width: 600px;
    }

    #contentAbout {
        padding: 30px;
        margin-left: 20%;
        margin-right: 20%;
    }

    .navButton {
        background-size: 35px, 35px;
        width: 35px;
        height: 47px;
    }

    #animContainer {
        width: 180px;
    }

    #subscribe {
        margin: 5px auto -40px;
    }

    #subscribe form input {
        height: 30px;
        font-size: 13px;
    }

    #send {
        background-size: 90px 31px;
        width: 100px;
        height: 31px
    }

    #send:hover {
        -webkit-transform: scale(1.05,1.05);
                 -moz-transform: scale(1.05,1.05);
                 -o-transform: scale(1.05,1.05);
                 -ms-transform: scale(1.05,1.05);

        -webkit-transition: all 0.4s ease-in-out;
                -moz-transition: all 0.4s ease-in-out;
                -o-transition: all 0.4s ease-in-out;
                -ms-transition: all 0.4s ease-in-out;
    }

    #sendContact {
        margin-top: 4px;
    }

    #iconsWrapper {
        padding-left: 0px;
        padding-right: 5px;
        padding-bottom: 0px;
        padding-top: 5px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 115px;;
    }

    #subscribeBox {
        margin-top: 104px;
    }

    .icon {
        background-size: 25px, 25px;
        width: 25px;
        height: 25px;
        padding: 12px;
    }

    .icon a {
        background-size: 30px, 30px;
        width: 30px;
        height: 30px;
    }

}

@media only screen and (max-width: 1270px) {

    #countdown {
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 20px;
        margin-top: 100px;
    }

    #iconsWrapper {
         padding-left: 0px;
         padding-right: 0px;
         padding-bottom: 0px;
         padding-top: 1px;
         margin-left: 0px;
         margin-right: 0px;
         margin-top: 135px;
    }

        .square {
            width: 90px;
            height: 95px;
            margin-bottom: 0px;
        }

        #logoContainer {
            width: 155px;
            margin-top: 40px;
        }

        #headerText {
            margin-bottom: -60px;
            font-size: 50px;
        }

        .countContainer div.unitContainer {
            height: 25px;
        }

        .countContainer div.unitContainerDown {
            height: 83px;
            font-size: 0.8em;
        }

        .countContainer p.unit {
            font-size: 0.8em;
        }

        .countContainer div.numberContainer {
            height: 0px;
            width: 100%;
        }

        .countContainer p.number {
            font-size: 45px;
            line-height: 110px;
        }

        .navButton {
            background-size: 25px, 25px;
            width: 25px;
            height: 33px;
        }

        #contact {
            top: 49%;
            left: 30px;
        }

        #about {
            top: 49%;
            right: 30px;
        }

        .icon a {
            background-size: 25px, 25px;
            width: 25px;
            height: 25px;
        }

        .icon {
            background-size: 25px, 25px;
            width: 19px;
            height: 25px;
            padding: 8px;
        }

        #animContainer {
             width: 150px;
             height: 29px;
        }

        #subscribeBox {
             height: 90px;
             margin: 0 auto;
             margin-right: 0px;
             margin-top: 93px;
        }

        #subscribe form {
            padding-top: 9px;
        }

        #sendContainer {
            margin-right: 42px;
            margin-top: -5px;
        }

        p {
            font-size: 45px;
        }

        h4 {
           font-size: 30px;
        }
}

@media only screen and (max-width: 750px) {

    #logo img {
        width: 80px;
        margin-top: 120px;
    }


    #logoContainer {
        width: 160px;
        margin-top: -40px;
    }

    #headerText {
        margin-bottom: 0px;
        font-size: 40px;
     }

     #countdown {
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 5px;
        margin-right: 0px;
        margin-top: 100px;
     }

    .square {
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 0px;
    }

    #contentAbout {
        margin-left: 10%;
        margin-right: 10%;
    }

    #contactArea {
        width: 400px;
    }

    h2 {
    font-size: 25px;
    }

    #contactArea textarea {
        background-size: 390px 88px;
        width: 390px;
        height: 88px;
        outline: 0;
        line-height: 210%;
        padding-top: 5px;
    }

    #homeInContact {
        top: 20px;
    }

    #homeInAboutUs {
        top: 20px;
    }

    #contact {
        top: 20px;
    }

    #about {
        top: 20px;
    }

    #aboutUs {
        margin: 0 auto;
        font-size: 13px;
        line-height: 160%;
        padding-top: 5px;
        padding-bottom: 10px;
    }

    .navButton {
        background-size: 20px, 20px;
        width: 19px;
        height: 25px;
    }

     #subscribe form input {
        height: 36px;
     }

     #send {
           background-size: 80px 30px;
           width: 85px;
           height: 30px;
           margin-right: 10px;
           margin-top: 5px;
     }

     #send:hover {
           -webkit-transform: scale(1.05,1.05);
                 -moz-transform: scale(1.05,1.05);
                 -o-transform: scale(1.05,1.05);
                 -ms-transform: scale(1.05,1.05);

           -webkit-transition: all 0.4s ease-in-out;
                 -moz-transition: all 0.4s ease-in-out;
                 -o-transition: all 0.4s ease-in-out;
                 -ms-transition: all 0.4s ease-in-out;
     }

     #sendContact {
        background-size: 60px 37px;
        width: 60px;
        height: 37px;
     }

     #sendcontact:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
     }

     #iconsWrapper {
        text-align: center;
        margin-top: 130px;
      }


    .icon a {
        background-size: 25px, 25px;
        width: 25px;
                 height: 25px;
    }

    .icon {
        background-size: 25px, 25px;
        width: 19px;
        height: 25px;
        padding: 8px;
    }

    #animContainer {
        width: 166px;
        margin-top: 0px;
        height: 35px;
    }

    #subscribe {
        margin: -10px auto 100px;
    }

    #subscribe form input {
        height: 25px;
    }

    p {
        font-size: 38px;
    }

     h4 {
         font-size: 25px;
     }


}

@media only screen and (max-width: 500px) {

    #logo img {
        width: 85px;
    }

    #headerText {
        font-size: 30px;
       margin-bottom: 120px;
    }

    .headerSize {
    min-height: 230px;
    }

    .headerSizeInAboutUs {
        min-height: 100px;
    }

    h2 {
        font-size: 28px;
        padding-top: 20px;
    }

    #countdown {
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 5px;
        margin-right: 0px;
        margin-top: 100px;
    }
    
    #contactInfo div {
        padding: 5px;
        margin: 5px;
    }

    #contactMsg {
        padding: 20px 5px 5px 5px;
    }

    #contactArea {
        padding: 10px 10px 10px 10px;
        width: 240px;
        height: 305px;
        margin-bottom : 60px;
        margin-top: 30px;
    }

    #contactArea textarea {
         background-size: 230px 88px;
         width: 230px;
         height: 88px;
         outline: 0;
         line-height: 200%;
         padding-top: 5px;
     }

    #subscribe form input {
            height: 38px;
        }

    #send {
            background-size: 80px 30px;
            width: 85px;
            height: 30px;
            margin-right: 10px;
            margin-top: 5px;
        }

     #send:hover {
            -webkit-transform: scale(1.05,1.05);
                   -moz-transform: scale(1.05,1.05);
                   -o-transform: scale(1.05,1.05);
                   -ms-transform: scale(1.05,1.05);

            -webkit-transition: all 0.4s ease-in-out;
                   -moz-transition: all 0.4s ease-in-out;
                   -o-transition: all 0.4s ease-in-out;
                   -ms-transition: all 0.4s ease-in-out;
     }

     .error {
         margin-top: -22px;
         padding:1px;
     }

     #contentAbout {
         padding: 30px;
         margin-left: 7%;
         margin-right: 7%;
         margin-bottom: 200px;
     }

        #aboutUs {
        font-size: 13px;
        line-height: 150%;
    }

    #sendContact {
        margin-top: 22px;
    }

    .icon a {
            background-size: 25px, 25px;
            width: 25px;
            height: 25px;
    }

    .icon {
            background-size: 25px, 25px;
            width: 19px;
            height: 25px;
            padding: 8px;
    }

    #iconsWrapper {
        margin-top: -118px;

    }

    #animContainer {
        width: 166px;
        margin-top: 12px;
        height: 35px;
    }

    #sendContainer {
        margin-top: 12px;
    }

    p {
        font-size: 34px;
    }

     h4 {
        font-size: 20px;
    }


}
