{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}DfB Explorer{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="../static/css/frontpage.css">
    <link href='http://fonts.googleapis.com/css?family=Economica|Source+Code+Pro' rel='stylesheet' type='text/css'>
{% endblock %}

{% block page_content %}
    {{ super() }}
    <img src="../static/img/dropbox-transparent.png" width="90px" height="auto"class="small"/><h1 class="cover-heading">DfB Explorer</h1>
    <a href="{{ url_for('auth.login') }}"><img src="../static/img/spaceman.png" width="200px" height="auto"/></a>
{% endblock %}
